@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="form_display">
<form method="post">
  <div>
    <label>Imię</label><br>
    <input type="text" name="Name" class="form-control input-group-lg" placeholder="Imie" required>
  </div><br>
  <div>
    <label>Nazwisko</label><br>
    <input type="text" name="LastName" class="form-control input-group-lg" placeholder="Nazwisko" required>
  </div><br>
  <button type="submit" class="btn btn-info">Wyślij</button>
</form>
</div>
<div>
    <br /><p>Użytkownicy, którzy zostali dodani dzisiaj: </p>
    <div class="data_display">
        <div>
            <p>Nr ID</p>
        </div>
        <div>
            <p>Imie</p>
        </div>
        <div>
            <p>Nazwisko</p>
        </div>
    </div>
    <div class="data_display">
        <div>
        @foreach (var item in Model.Records) {
        <p>@item.Id</p>
        }
        </div>
        <div>
        @foreach (var item in Model.Records) {
        <p>@item.FirstName</p>
        }
        </div>
        <div>
        @foreach (var item in Model.Records) {
        <p>@item.LastName</p>
        }
        </div>
    </div>
</div>